{% extends 'hotel_app/layouts/base.html' %}
{% block style %}
<style>

    .add-room-container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
    }

    .add-room-container h1 {
        color: #4CAF50;
        text-align: center;
        margin-bottom: 20px;
    }

    .add-room-container form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .add-room-container button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .add-room-container button:hover {
        background-color: #45a049;
    }

    .add-room-container a {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: #4CAF50;
        text-decoration: none;
        font-weight: bold;
    }

    .add-room-container a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block title %}Добавить комнату{% endblock %}
{% block content %}
<div class="add-room-container">
    <h1>Добавить комнату</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'home' %}">Назад</a>
</div>
{% endblock %}
